<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Информация об посте</title>
    <link rel="stylesheet" href="/styles/postInfo.css">
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/signup">Регистрация</a>
            <a href="/signin">Авторизация</a>
            <a href="/my-account">Аккаунт</a>
            <a href="/dashboard">Главная страница</a>
            <a href="/create">Добавить пост</a>
        </li>
    </ul>
</header>

<div id="render-info"></div>

<div id="comment-container">
    <div>
        <img src="/images/defaultImage.jpg" id="user-icon" alt="user icon">
        <h3 id="username">username</h3>
    </div>
    <label>
        <textarea id="comment-text" name="content" placeholder="Оставьте здесь свой комментарий"></textarea>
    </label>
    <button id="add-comment" type="submit">Отправить</button>
</div>

<div class="comments-section">
    <h2>Комментарии:</h2>
    <ul id="commentsList"></ul>
</div>
</body>
<script src="/js/renderPostInfo.js" defer type="module"></script>
<script src="/js/comment.js" defer type="module"></script>
</html>